.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Marker {
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -100%);
  /* background: red; */
  background-image: url("./marker1.png")
}

.MarkerDes {
  color: transparent;
}

.MarkerDes:hover {
  height: 30px;
  width: 55px;
  transform: translate(-50%, 0%);
  text-align: center;
  color: white;
  background: rgba(34, 34, 34, 0.712);
  padding: 10px;
  border: 5px solid tomato;
  border-radius: 15px;
}
.Body{
font-display: white;
  background: url("./350851-download-free-website-background-1920x1080-for-mobile-hd.jpg");
  height:100vh;
}
.Contact{
  color:whitesmoke;  
}
.NavbarDef{

  background:paleturquoise;
}