.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Marker {
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -100%);
  /* background: red; */
  background-image: url("./marker1.png")
}

.MarkerDes {
  color: transparent;
}

.MarkerDes:hover {
  width: 75px;
  word-wrap: break-word;
  transform: translate(-50%, 0%);
  color: white;
  background: rgba(34, 34, 34, 0.712);
  padding: 5px;
  border: 5px solid tomato;
  border-radius: 15px;
}

.Body {
  font-display: white;
  background: url("./350851-download-free-website-background-1920x1080-for-mobile-hd.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Contact {
  color: whitesmoke;
  font-family: 'Allerta Stencil';
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: rgb(54, 12, 10);
  }
}

.NavbarDef {
  background: paleturquoise;
}

.Button1 {
  transform: translate(0%, 20%);
}

.Home1, .Home2 {
  font-family: 'Allerta Stencil';
  font-size: 18px;
  color: seashell;
  height: full;
  padding: 10px;
  ;
}

.carousel-image {
  margin: 0 auto;
  height: 280px;
}

.carousel-caption {
  color: black;
  height: 250px;
}

.contact-image {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.contact-text {
  font-size: 25px;
}

.Recycleable {
  color: whitesmoke;
  text-align: center;
  margin-top: 0px;
}